fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
psycopg2-binary
asyncpg
greenlet
python-dotenv
htmldocx
email-validator
pydantic-settings
bcrypt<4.1
python-multipart
google-genai
openai
pandas
openpyxl
reportlab
python-docx
python-pptx
httpx
python-dotenv
